<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= image_tag("logo_transparente.png", class: "img-responsive logo") %>

        <div class="intro-text">
          <span class="name">Taxi 5 Estrelas</span>
          <hr class="star-light">
          <span class="skills">
            O Táxi 5 Estrelas busca transportar pessoas com eficiência e segurança, proporcionando aos
            nossos clientes um serviço especializado com legalidade, responsabilidade, qualidade, rapidez
            e pontualidade. Para cumprir com essa missão, dispomos de profissionais treinados, veículos
            regularizados, atendimento 24 horas, aplicativo táxi 5 estrelas e total disponibilidade para
            atender as necessidades de todos os nossos clientes.
            Contamos com uma frota de carros que atende todo Rio de Janeiro e Grande Rio de forma
            organizada e comprometida. Desta forma, convidamos você a conhecer o nosso serviço
            especializado de transporte.</span>
        </div>
      </div>
    </div>
  </div>
</header>
