<h2>Olá, você possui uma mensagem através da página Taxi 5 Estrelas</h2>
<hr>
Nome: <%= @contact.name %><br>
Email: <%= @contact.email %><br>
Telefone: <%= @contact.phone %><br>
Mensagem: <%= @contact.message %><br>
<hr>
<p class="pull-right">
  Atenciosamente<br>
  Página Taxi 5 Estrelas
</p>
